body {
    font-family: Verdana,Arial,sans-serif;
    font-size: 1em;
  }

h1 {
    text-align: center;
    font-weight: bold;
  }

p {
    margin-bottom: 0.1em;
}

#progressBar {
    margin-left: 5em;
    margin-right: 5em;
    margin-top: 1em;
    }

#progressMessage {
    text-align: center;
}

#image {
    position: absolute;
    top: 0;
    width: 970px;
    left: 50%;
    margin-left: -485px;
    display: none;
    text-align: center;
}

#finalImage {
    width: 970px;
}

#actualsize {
    margin-top: 0.1em;
    margin-bottom: 1em;
}

#sidebar {
    border: 1px solid #A6C9E2;
    -moz-border-radius-topright: 5px;
    -webkit-border-top-right-radius: 5px;
    -khtml-border-top-right-radius: 5px;
    border-top-right-radius: 5px;
    
    -moz-border-radius-bottomright: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -khtml-border-bottom-right-radius: 5px;
    border-bottom-right-radius: 5px;
    
    -moz-border-radius-topleft: 5px;
    -webkit-border-top-left-radius: 5px;
    -khtml-border-top-left-radius: 5px;
    border-top-left-radius: 5px;
    
    -moz-border-radius-bottomleft: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -khtml-border-bottom-left-radius: 5px;
    border-bottom-left-radius: 5px;

    margin: 1em;
    padding: 1em;
    float: right;
    width: 20%;
}

#buttonArea {
    margin-bottom: 1em;
    text-align: center;
}

.uisection {
    margin-top: 2em;
}
  
.helptext, .answer {
    font-size: 0.75em;
    margin-top: 0.5em;
}

.tabs {
    min-height: 27em;
}

#sizeBox { width: 97px; height: 55px; padding: 0.5em; }

.sliderLabel {
    font-weight: bold;
    margin-top: 0px;
}

#timeSlider {
   width: 70%;
}

#colours {
    float: left;
}

#colourPickers {
    margin-top: 3em;
    margin-left: 27em;
}

.colourPicker {
    display: none;
    position: absolute;
    
}

